nav li{
  list-style: none;
  display: inline-block;
  padding:10px 70px;
  text-align:center;


}
ul{
  padding: 5px;
  text-align: center;
  
}

a{
  color: chocolate;
  text-decoration: none;
  font-size: 20px;
}

a:hover{
  color: white;
}

nav{
  font-family: fuente_oswald;
  font-size: 25px;
  color:rgb(255, 255, 255);
}

nav:hover{
  cursor: default;
}

#contenido{
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

#articulos{
  width: 480px;
  border:1px rgb(102, 88, 65) solid;
  border-radius:3px;
  background-color:white;
  text-align:center;
  padding:10px 10px 22px 10px;
  box-shadow: 0px 0px 4px gray;
}

body{
  background-image:url("Imagenes_CSS/fondo.png");
  background-repeat: no-repeat;
  background-color:#f9f1cf; 
}

@font-face {
  font-family:fuente_oswald;
  src: url(Fuentes/Oswald-Bold.ttf) format("truetype");
}

@font-face {
  font-family:fuente_electro;
  src: url(Fuentes/Electrolize-Regular.ttf) format("truetype");
}

@font-face {
  font-family:fuente_inder;
  src: url(Fuentes/Inder-Regular.ttf) format("truetype");
}

header{
  font-family:fuente_electro;
  font-size: 22px;
  color: white;
}

section{
  font-family: fuente_inder;
  font-size: 15px;
}

footer{
  font-family: fuente_electro;
  font-size: 13px;
  color: silver;
}

#titulo{
  font-family:alegreya-light;
  font-size:18px;
  margin: top 47px;
}